version: "3.8"

services:

  device-ingestor:
    container_name: livestock-device-ingestor
    build: ./backend/device-ingestor-service
    ports:
      - "8080:8080"
    restart: always
    depends_on:
      - mqtt
    environment:
      - MQTT_BROKER=mqtt
      - MQTT_PORT=1883
    networks:
      - livestock-net


  notification-service:
    container_name: livestock-notification-service
    build: ./backend/notification-service
    ports:
      - "4000:4000"
    restart: always
    depends_on:
      - device-ingestor
    environment:
      - INGESTOR_URL=http://device-ingestor:8080
    networks:
      - livestock-net


  mqtt:
    container_name: livestock-mqtt-broker
    image: eclipse-mosquitto:2.0
    ports:
      - "1883:1883"
    volumes:
      - ./mqtt/config:/mosquitto/config
      - ./mqtt/data:/mosquitto/data
      - ./mqtt/log:/mosquitto/log
    restart: always
    networks:
      - livestock-net


networks:
  livestock-net:
    driver: bridge

